# dependencies
node_modules/
.pnpm-store/

# build output
dist/
*.tsbuildinfo

# test / coverage
coverage/
.vitest/

# legacy
.parcel-cache
playwright-report/
test-results/

# editor / os
.idea/
.vscode/
.DS_Store
*.log
